.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--principal);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}

.title {
    border: 1px solid var(--terciario);
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-top: 3px;
    border-radius: 15px;
}

.title strong {
    font-size: small;
}

.progressBarContainer p {
    margin-bottom: 10px;
    text-align: center;
}

.infoProgressBar {
    display: flex;
    gap: 5px;
    font-size: small;
    justify-content: space-evenly;
}

.infoProgressBar p {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--terciario);
    border-radius: 10px;
    padding: 10px 15px;
}

.infoProgressBar strong {
    margin-bottom: 5px;
}

/* Nueva barra de progreso */
.progressBarWrapper {
    width: 100%;
    height: 35px;
    background-color: var(--blanco-principal);
    border-radius: 120px;
    overflow: hidden;
    border: 1px solid var(--terciario);
}

.progressFill {
    height: 100%;
    background-color: var(--meta-alumno);
    transition: width 0.4s ease-in-out;
    background-image: url('../../../../assets/destellos2.gif');
    /* Ruta relativa o absoluta */
    background-repeat: repeat-x;
    background-position: center;
    background-size: 15%;
}

@media screen and (max-width: 992px) {
    .infoProgressBar {
        justify-content: space-between;
    }

    .infoProgressBar p {
        flex-grow: 1;
    }
}