/* StudentItem.module.css */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: var(--principal);
    border-radius: 15px;
    padding: 5px 15px;
    color: var(--blanco-principal);
    text-align: center;
}

.card .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--secundario);
}

.card h4 {
    margin-bottom: 10px;
}

p {
    color: var(--blanco-principal);
}

.card svg {
    cursor: pointer;
}

.centrales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}


.actionsContainer {
    display: flex;
    gap: 10px;
    width: 40%;

}

.asignarMedalla {
    border-radius: 15px;
    border: 1px solid var(--secundario);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.asignarMedalla p {
    font-size: x-small;
    margin-bottom: 5px;
}

.opcionBorrado {
    color: var(--blanco-principal);
    justify-content: center;
    padding: 0 10px;
    border: 1px solid var(--secundario);
    background-color: var(--principal);
    border-radius: 15px;
    cursor: pointer;
}

.medallas {
    margin: 0;
    width: 100%;
    padding: 0px 5px;
    text-align: center;
    border-radius: 7px;
    font-size: small;
}

.medallas option {
    background-color: var(--secundario);
}

@media screen and (max-width: 992px) {
    .card {
        gap: 10px
    }

    .card svg {
        font-size: small;
    }

    .nombreEstudiante {
        text-align: start;
        font-size: small;
        width: 7ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .asignarMedalla {
        flex-grow: 1;
    }

    .actionsContainer {
        flex-grow: 1;
    }

    .medallas {
        font-size: small;
    }

    .asignarMedalla p {
        font-size: xx-small;
    }

}