/* StudentItem.module.css */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--principal);
    border-radius: 15px;
    padding: 15px;
    color: var(--blanco-principal);
    text-align: center;
}

.card .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--secundario);
}

.card h4 {
    margin-bottom: 10px;
}

p {
    color: var(--blanco-principal);
    margin: 0;
}

.card svg {
    cursor: pointer;
}