.tablesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

@media (max-width: 480px) {
    .tablesContainer {
        grid-template-columns: repeat(1, 1fr);

    }
}