.floatingButtonContainer {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 1000;
}

.floatingButton {
  background-color: var(--boton-principal);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.floatingButton:hover {
  background-color: #0056b3;
}

.optionsMenu {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: var(--principal);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
  min-width: 150px;
  z-index: 999;
  
  /* Inicialmente, el menú tiene un tamaño pequeño (casi invisible) */
  transform: scale(0);
  opacity: 0;
  transform-origin: top left;
  
  /* Animación */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.optionsMenu.show {
  /* Cuando el menú debe mostrarse, lo expandimos y lo hacemos visible */
  transform: scale(1);
  opacity: 1;
}

.optionsMenu ul {
  list-style-type: none;
  padding: 0;
}

.optionsMenu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.optionsMenu li:hover {
  background-color: var(--secundario);
}

.optionsMenu svg {
  margin-right: 10px;
}
