.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.agregarRanking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secundario);
    color: var(--principal);
    border: 1px solid var(--principal);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    min-height: 220px;
}

.loaderContainer {
    text-align: center;
    padding: 2rem;
}

.sinRankings {
    text-align: center;
}