.modal {
    padding: "1rem";
    color: "white";
}

.medalsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;
    row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 480px) {
    .medalsContainer {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}