@font-face {
    font-family: 'ADLaM Display';
    src: url('./ADLaMDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'ADLaM Display', Helvetica, sans-serif;
  }