.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container section img {
    max-width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    object-fit: cover;
}

.container section {
    position: relative;
    background-color: var(--principal);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.container section h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: small;
}

.resumen {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.resumen div, .resumen+div {
    padding: 10px;
    border: 1px solid var(--terciario);
    border-radius: 15px;
    flex-grow: 1;
}

.resumen div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.resumen div p:first-of-type {
    font-size: x-large;
}

.resumen div:nth-child(1) p:first-of-type {
    color: var(--monedas);
}

.resumen div:nth-child(2) p:first-of-type {
    color: var(--medallas);
}

.resumen div:nth-child(3) p:first-of-type {
    color: var(--meta-alumno);
}

.resumen div svg {
    margin-right: 10px;
}

.resumen+div {
    margin-top: 10px;
}

.progressBarContainer p {
    margin-bottom: 10px;
}

.progressBar {
    display: flex;
    justify-content: center;
}

.progressBar label {
    position: relative;
    padding: 15px;
    flex-grow: 1;
    cursor: pointer;
    transition: .3s;
}

.progressBar label:hover {
    transform: scale(1.02);
}

.progressBar label:first-child {
    border-radius: 20px 0 0 20px;
}

.progressBar label:last-child {
    border-radius: 0 20px 20px 0;
}

.progressBar input {
    margin: 0;
    display: none;
}

.alcanzado {
    background-color: var(--meta-alumno);
}

.noAlcanzado {
    background-color: var(--blanco-principal);
}

.label .icono {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--meta-alumno);
    pointer-events: none;
}

.progressBar label:has(input[type="radio"]:checked) {
    background-color: var(--secundario);
}

.recompensasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
    justify-items: center;
    max-height: 300px;
    overflow: auto;

    /* Ocultar scrollbar visualmente */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.recompensasGrid::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Edge */
}

.recompensasGrid>* {
    border: 2px solid var(--secundario);
    padding-bottom: 10px;
}

.editIconContainer {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--texto-principal);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
}


@media screen and (max-width: 992px) {
    .resumen div p:first-of-type {
        font-size: large;
    }

    .resumen div p {
        font-size: small;
    }
}