.enhancerContainer {
    position: fixed;
    top: 7px;
    right: 20px;
    z-index: 100;

    background-color: var(--potenciador);
    background-image: url('../../../assets/fondoPotenciador.gif');
    /* Ruta relativa o absoluta */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 15px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.308);

}

.enhancerContent {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 992px) {
    .enhancerContent {
        font-size: smaller;
    }

    .enhancerContainer {
        top: 15px;
        right: 15px;
        padding: 5px 10px;

    }
}