.menuButton {
  background-color: var(--secundario);
  color: var(--blanco-principal);
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.menuButton:active {
  background-color: var(--principal);
}

/* Fondo semitransparente */
.overlay {
  opacity: 0;
  transition: opacity .3s ease;
  /* transición suave de 0.5s */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  /* fondo oscuro semitransparente */
  z-index: 998;
  pointer-events: none;
  /* evita clics cuando está oculto */
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
  /* permite interacción cuando está visible */
}

/* Sidebar */
.sidebarMenu {
  position: fixed;
  top: 0;
  left: 0;
  /* CAMBIADO: antes estaba en right: 0 */
  height: 100vh;
  width: 250px;
  background-color: var(--principal);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.15);
  /* CAMBIADO: sombra a la derecha */
  padding: 20px 15px;
  transform: translateX(-100%);
  /* CAMBIADO: oculto a la izquierda */
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebarMenu.show {
  transform: translateX(0);
}

.sidebarMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarMenu li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: .5s;
}

.sidebarMenu li:hover {
  background-color: var(--secundario);
}

.sidebarMenu svg {
  margin-right: 10px;
  width: 25px;
}

/* Activos por ruta */
.activeProfile {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeProfile svg {
  color: #168c1e;
}

.activeGroups {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeGroups svg {
  color: #167a8c;
}

.activeMedallas {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeMedallas svg {
  color: var(--medallas);
}

.activeRubricas {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeRubricas svg {
  color: #358c16;
}

.activeRankings {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeRankings svg {
  color: #8c5716;
}

.activeConfiguraciones {
  background-color: var(--secundario);
  box-shadow: 0 0 1px 1px var(--terciario);
}

.activeConfiguraciones svg {
  color: #7d7d7d;
}

.cerrarSesion {
  position: absolute;
  bottom: 60px;
  width: 250px;
}